a:link {
  color: #e30101;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Unbounded', sans-serif;
}
a:focus {
  text-decoration: none;
}
a:visited {
  color: #e30101;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.slava {
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Unbounded', sans-serif;
  color: white;
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 100px;
}